.bio {
  width: 80vw;
  height: 100%;
  margin: auto;
  margin-bottom: 5rem;
}

.bio h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
}