.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 4rem;
  background: rgba(233, 232, 231, 0.9);
  z-index: 998;
  padding-top: 0%;
  padding-bottom: 0%;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}

.logo a {
  color: #333333;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

nav a {
  color: #333333;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: 300;
}
