.hero img {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.hero {
  width: 100vw;
  height: 100vh;
}

.article {
  position: absolute;
  top: 50%;
  left: 1rem;
  width: 40%;
  /* color:aliceblue; */
  /* transform: translate(-50%, -50%); */
  text-transform: uppercase;
  color: #333333;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  background: rgba(233, 232, 231, 0.4);
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.article h3 {
  /* text-transform: uppercase; */
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin: 0.5rem;
}

.article p {
  margin-top: 0rem;
}
