.hero {
  width: 100vw;
  height: calc(100vh - var(--navbar-height));
  margin-top: var(--navbar-height);
}

.hero picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.article {
  position: absolute;
  top: 50%;
  left: 1rem;
  width: 40%;
  color: #333333;
  font-weight: 300;
  text-align: center;
  background: rgba(233, 232, 231, 0.4);
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.article h3 {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin: 0.5rem;
}

.article title-image {
  display: flex;
  justify-content: center;
  align-items: center;  
}

.title-image img {
  height: 7rem;
  padding: 1rem;
  padding-bottom: 0rem;
}

.article p {
  margin: 1.5rem;
  font-size: 1.5rem
}

.dark {
  color: #333333;
}

.light {
  color: #FAFAFA;
  background: rgba(30, 30, 30, 0.8);
}

.fade-wrapper {
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.arrow {
  position: absolute;
  opacity: 0.1;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  padding: 0.5rem 1rem;
  user-select: none;
  z-index: 10;
}

.arrow:hover {
  color: rgba(255, 255, 255, 0.9);
}

/* Positioning */
.arrow.left {
  left: 10px;
}

.arrow.right {
  right: 10px;
}

/* darker version when slide 2 */
.dark-dots .arrow {
  color: rgba(0, 0, 0, 0.5);
}

.dark-dots .arrow:hover {
  color: rgba(0, 0, 0, 0.85);
}

@media (max-width: 1000px) {
  .article {
    top: 50%;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  .pos1 {
    top: 50%;
  }

  .pos2 {
    top: 50%;
  }

  .pos3 {
    top: 50%;
  }

  .article h3 {
    font-size: 1.8rem;
  }

  .article p {
    font-size: 1.2rem;
  }

  .dark {
    color: #333333;
  }

  .light {
    color: #FAFAFA;
    background: rgba(30, 30, 30, 0.8);
  }
}

@media (max-width: 663px) {
  .hero {
    width: 100vw;
    height: calc(100vh - var(--navbar-height) - var(--navbar-padding));
    margin-top: calc(var(--navbar-height) + var(--navbar-padding));
  }
}

