.music {
  background: rgba(233, 232, 231);
  padding-bottom: 5rem;
}

.music-galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.album-card {
  background: white;
  border-radius: 22px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.3s ease;
}

.album-card:hover {
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}

.album-image-wrapper {
  height: 20rem;
  overflow: hidden;
}

.album-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-content {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.album-title {
  text-transform: uppercase;
  font-weight: 400;
  color: #333333;
}

.album-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.8;
  transition: 0.2s;
}

.icon:hover {
  opacity: 1;
}
