.photo-card {
  width:30%;
  /* height: 30%; */
  /* aspect-ratio: 16/9; */
  overflow: hidden;
  border-radius: 1rem;
}

.photo-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-galery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  width: 80vw;
  height: 100%;
  margin: auto;
  margin-bottom: 5rem;
}
