.iframe-container {
  width: 30%;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 1rem;
}

iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1000px) {
.iframe-container {
  width: 80%;
}
}
