.video-galery {
    /* border: 1px solid red; */
    /* position: absolute; */
  /* display: grid;
  grid-template-rows: 10rem 10rem;
  grid-template-columns: 10rem 10rem; */
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  justify-content: center;
  gap: 3rem;
  /* padding-top: 0%; */
  /* padding-bottom: 0%; */
  /* padding-left: 3rem; */
  /* padding-right: 3rem; */
}

/* .video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  gap: 40px;
  padding: 0 60px;
} */