@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background: #fff;
  color: #4a4a4a;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
}

.page-title {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  margin: 4rem;
  font-weight: 500;
}
