@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background: #fff;
  color: #4A4A4A;
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;       
  height: 100%;
  margin: 0 auto;
  margin-bottom: 5rem;
  /* padding-left: 10rem;
  padding-right: 10rem; */
  /* padding-bottom: 5rem; */
  overflow: hidden;
  /* position: relative; */
  /* left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px; */
}

.page-title {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
  margin: 4rem;
  font-weight: 500;
}

